$c1: #111;
$c2: #fff;
$c3: #6e6e6e;
$box-shadow:  8px 8px 10px #00000021 !default;

main {
    animation: fadeInUp;
    animation-duration: 1.3s;
    h2, p {
        color: #303030;
    }
}

#about-container {
    margin-top: 30px;
}

#about {
    text-align: center;
}

#about-txt {
    display: flex;
    flex-direction: column;
    
    p {
        margin: 10px;
        text-align: justify;
    }
}

#img-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    /*animation: fadeInUp;
    animation-duration: 2s;*/
}

.img-boxes {
    height: 235px;
    width: 235px;
    background-color: $c1;
    margin: 0px auto 0px auto;
    border-radius: 5px;
    box-shadow: $box-shadow;
    transition-duration: .4s;
    transition-delay: .2s;
}

/*.img-boxes:hover {
    height: 260px;
    width: 260px;
}*/

.add-img1 {
    background-image: url('../images/fuji-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.add-img2 {
    background-image: url('../images/fuji-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.add-img3 {
    background-image: url('../images/fuji-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.h-info {
    max-width: 100%;
    margin-top: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2 {
        text-align: center;
    }

    p {
        margin: 10px;
        text-align: center;
    }
}

.li-info {
    max-width: 100%;
    margin-top: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2 {
        text-align: center;
    }
    p {
        margin: 10px;
        text-align: center;
    }
}

#second-img-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.second-img-boxes {
    height: 200px;
    width: 80%;
    background-color: $c1;
    border-radius: 5px;
    margin: 0px auto 0px auto;
    box-shadow: $box-shadow;

    /*animation: fadeInUp;
    animation-duration: 2s;*/
}

.add-img4 {
    background-image: url('../images/fuji-5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.add-img5 {
    background-image: url('../images/fuji-6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#explore {
    margin-top: 40px;
    text-align: center;
}

#explore-info {
    margin: 10px;
    text-align: center;
}