@use './var';

.header {
    height: 280px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 30px 30px;
    color: var.$c1;
    background: var.$gradient;
    .hbox1 {
        h2 {
            margin-bottom: 50px;
        }
    }

    .hbox2 {
        h3{
            margin-bottom: 50px;
        }
    }
    button {
        height: 50px;
        width: 150px;
        border-radius: var.$border-radius;
        outline: none;
        border: none;
        font-weight: bold;
        font-size: 1em;
        color: var.$c2;
        cursor: pointer;
        box-shadow: var.$bshadow;
        a {
            margin: 50px 150px;
            text-decoration: none;
        }
    }
}