@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid #151515;
}